In [2]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/clv project rebuild/data/cleaned.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
## Basic EDA
df.info()
#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397924 non-null  int64
 1   StockCode    397924 non-null  object
 2   Description  397924 non-null  object
 3   Quantity     397924 non-null  int64
 4   InvoiceDate  397924 non-null  object
 5   UnitPrice    397924 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      397924 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 24.3+ MB

## As it can be seen inconsistent formats and null values

In [5]:
## Things Needed to be Cleaned
## Nulls ?
df.isnull().sum()
#CusotmerId Null?
df[df['CustomerID'].isnull()].head()
# Cancelled Orders
df[df['InvoiceNo'].str.startswith('C')].count()
# Quantiy Zeros
df[df['Quantity']<= 0]
# Unit Price Zero?
df[df['UnitPrice']<= 0]

AttributeError: Can only use .str accessor with string values!

In [ ]:
## Fixing Formats
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [ ]:
## Data Cleaning

df_clean = df.dropna(subset=['CustomerID'])
df_clean

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [ ]:
## Removing Cancelled Orders
df_clean = df_clean[~df_clean['InvoiceDate'].astype(str).str.startswith('C')]

In [ ]:
#Removing Unusual Price and Qunatites
df_clean = df_clean[df_clean['UnitPrice'] >= 0]
df_clean = df_clean[df_clean['Quantity'] >= 0 ]

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397924 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397924 non-null  object
 1   StockCode    397924 non-null  object
 2   Description  397924 non-null  object
 3   Quantity     397924 non-null  int64
 4   InvoiceDate  397924 non-null  datetime64[ns]
 5   UnitPrice    397924 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      397924 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB

In [ ]:
df_clean.sample(n = 10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
304990,563617,84997B,CHILDRENS CUTLERY RETROSPOT RED,8,2011-08-18 09:45:00,4.15,15301.0,United Kingdom
412399,572287,85049E,SCANDINAVIAN REDS RIBBONS,2,2011-10-23 12:26:00,1.25,15584.0,United Kingdom
442179,574667,23242,TREASURE TIN BUFFALO BILL,6,2011-11-06 12:12:00,2.08,15514.0,United Kingdom
381623,569870,23237,SET OF 4 KNICK KNACK TINS LEAF,1,2011-10-06 14:59:00,4.15,12757.0,Portugal
426040,573343,23263,SET OF 3 WOODEN HEART DECORATIONS,3,2011-10-30 11:59:00,1.25,13566.0,United Kingdom
207157,554977,85099C,JUMBO BAG BAROQUE BLACK WHITE,2,2011-05-29 11:03:00,2.08,16444.0,United Kingdom
3563,536637,22945,CHRISTMAS METAL TAGS ASSORTED,6,2010-12-02 11:35:00,0.85,18041.0,United Kingdom
178293,552231,23078,ICE CREAM PEN LIP GLOSS,24,2011-05-06 15:47:00,1.25,17364.0,United Kingdom
386126,570225,22211,WOOD STAMP SET FLOWERS,2,2011-10-09 13:15:00,0.83,16595.0,United Kingdom
313250,564479,23298,SPOTTY BUNTING,3,2011-08-25 13:12:00,4.95,12682.0,France

In [ ]:
# Saving the Cleaned Dataset
df_clean.to_csv("cleaned.csv", index = False)